@media screen and (max-width: 1320px) {
    .container {
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    h2.title {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 35px;
        line-height: 100%;
    }

    /* HEADER */
    .header .container {
        padding: 23px 0 47px 0;
    }

    /* MAIN */
    .main .container {
        align-items: center;
        justify-content: center;
    }

    .main-info {
        max-width: 100%;
        width: 606px;
    }

    .main-info__title {
        max-width: 300px;
    }

    .main-info__description {
        font-size: 38px;
    }

    .main-info__price {
        font-size: 54px;
    }

    .main-image {
        margin-left: -50px;
    }

    /* EXPERT */
    .expert .container {
        padding: 152px 0 89px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* RESULT */
    .result .container {
        position: relative;
        padding: 118px 0 90px 0;
    }


    .slider {
        max-width: 900px;
        margin: 0 auto;
    }

    .slider-image {
        width: 336px;
        height: 341px;
        overflow: hidden;
    }

    .slider-image img {
        max-width: 336px;
        width: 336px;
    }

    .slick-arrow:nth-child(1) {
        width: 50px;
        left: -55px;
    }

    .slick-arrow:nth-child(3) {
        width: 50px;
        left: 340px;
    }

    /* COMPOSITION */
    .composition-image {
        max-width: 400px;
        margin-left: -100px;
    }

    /* GET */
    .get-info {
        margin-left: 0;
    }
    .get-image {
        position: absolute;
        left: -300px;
        bottom: -10px;
        z-index: -1;
    }

    /* TAKE */
    .take .container {
        padding: 100px 0 55px 0;
    }

    .take-items {
        max-width: 620px;
    }

    /* ADVANTAGE */
    .advantage .container {
        justify-content: center;
    }

    .advantage-info {
        margin-left: 100px;
        margin-right: 0;
    }

    .advantage-image {
        max-width: 400px;
        margin-left: -40px;
    }

    /* RESULT */
    .results-image {
        left: -310px;
    }

    .results-dumbbells {
        right: 0;
    }

    /* ORDER */
    .get-info__title {
        font-size: 30px;
        line-height: 100%;
    }
}

@media screen and (max-width: 1023px) {
    /* MAIN */
    .main {
        background-image: none;
    }
    .main .container {
        flex-direction: column-reverse;
    }

    .main-info {
        margin: 0 auto;
    }

    .main-info__title {
        margin: 0 auto;
    }

    .main-info__description {
        text-align: center;
    }

    .main-info__wrapper {
        justify-content: center;
    }

    .main-info__button,
    .main-info__price {
        display: none;
    }

    .main-image {
        max-width: 350px;
        margin-left: 0;
    }


    .sale {
        max-width: 204px;
        top: -81px;
        left: 39px;
        z-index: 2;
    }

    .main-button.mob {
        position: relative;
        display: flex;
        width: 347px;
        height: 54px;
        font-size: 28px;
        margin: -80px auto 0;
        z-index: 5;
        border: none;
    }

    /* EXPERT */
    .expert .container {
        padding: 18px 0 69px 0;
        flex-direction: column;
    }

    .expert-image {
        text-align: center;
        margin-right: 0;
        margin-bottom: 25px;
    }

    /* RESULT */
    .result .container {
        padding: 34px 0 70px 0;
    }

    .result-1 {
        display: none;
    }

    .result-2 {
        width: 73px;
        position: absolute;
        right: 0;
        bottom: 18px;
        z-index: -1;
    }

    .slider-for {
        max-width: 336px;
        margin: 0 auto 48px;
    }

    .slider-nav {
        max-width: 496px;
        font-family: 'Inter', sans-serif;
        margin: 0 auto;
    }

    /* COMPOSITION */
    .composition .container {
        padding: 41px 0 143px 0;
        flex-direction: column;
        align-items: center;
    }

    .composition-image {
        margin-left: -50px;
    }

    /* GET */
    .get .container {
        padding: 27px 0 63px 0;
    }

    .get-image {
        height: 530px;
        left: -150px;
        bottom: 0;
        z-index: -1;
    }

    .get-image img {
        height: 530px;
    }

    .get-info__image {
        display: none;
    }

    .get-info {
        max-width: max-content;
        margin: 0 auto;
    }

    .get-info__form {
        margin: 0 auto;
    }

    /* TAKE */
    .take {
        background-image: url("../img/take-bg.png");
    }

    .take .container {
        padding: 28px 0 418px 0;
    }

    .take-items {
        margin: 0 auto;
    }

    /* ADVANTAGE */
    .advantage .container {
        padding: 26px 0 52px 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .advantage-info {
        margin: 0;
    }

    .advantage-image .desk {
        display: none;
    }

    .advantage-image .mob {
        display: block;
    }

    /* RESULT */
    .results .container {
        padding: 0 0 34px 0;
    }

    .results-image {
        max-width: 600px;
        min-width: 600px;
        position: relative;
        top: auto;
        left: 50%;
        transform: translateX(-40%);
    }

    .arrow {
        display: none;
    }

    .results-items {
        flex-direction: column;
        align-items: center;
    }

    .result-item:nth-child(3), .result-item:nth-child(2), .result-item:nth-child(1) {
        margin-top: 0;
    }

    .result-item:not(:last-child) {
        margin-bottom: 30px;
    }

    .results-dumbbells {
        display: none;
    }

    /* STATISTIC */
    .statistic {
        background-image: url(../img/statistic-bg-mob.png);
        background-size: cover;
        background-position: center;
    }

    .statistic .container {
        padding: 28px 0 165px 0;
    }

    .statistic-image {
        display: none;
    }

    .statistic-items {
        padding: 40px 10px;
        max-width: 367px;
    }

    .statistic-item-progress-count {
        font-size: 24px;
    }

    .statistic-item-text {
        padding: 20px;
        height: 65px;
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 130%;
    }

    .statistic-item-progress-bar {
        height: 70px;
    }

    span.progress {
        height: 46px;
    }

    .statistic-item:nth-child(1) .statistic-item-progress-bar {
        max-width: 231px;
    }

    .statistic-item:nth-child(2) .statistic-item-progress-bar {
        max-width: 245px;
    }

    .statistic-item:nth-child(3) .statistic-item-progress-bar {
        max-width: 261px;
    }

    .statistic-item:nth-child(4) .statistic-item-progress-bar {
        max-width: 228px;
    }

    .statistic-item:nth-child(5) .statistic-item-progress-bar {
        max-width: 200px;
    }

    .statistic-item-progress-count {
        margin-left: 8px;
    }

    /* EASY */
    .easy .container {
        padding: 35px 0 30px 0;
    }

    .easy-items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .easy-item:not(:last-child) {
        margin-bottom: 60px;
    }

    /* ORDER */
    .order .main-info {
        max-width: 100%;
    }
    .order .main-info__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .order .main-info__form {
        display: none;
    }
    .order .main-info__price,
    .order .main-info__text.desk {
        display: block;
        margin: 0 auto 20px;
    }
    .order .main-info__price {
        font-size: 32px;
        line-height: 150%;
    }
}

@media screen and (max-width: 768px) {
    h2.title {
        padding: 20px 10px;
        font-size: 24px;
        line-height: 130%;
    }

    .list-2 {
        width: 100px;
        bottom: -50px;
        right: 0;
    }

    .list-3 {
        max-width: 108px;
        bottom: -70px;
        left: auto;
        right: 0;
    }

    .list-4 {
        width: 137px;
        bottom: -70px;
        right: auto;
        left: 0;
        z-index: -1;
    }

    .list-5 {
        width: 66px;
        bottom: -30px;
        left: auto;
        right: 20px;
    }

    .list-6 {
        width: 80px;
        bottom: -50px;
        top: auto;
        right: auto;
        left: 0;
        z-index: -1;
    }

    /* HEADER */
    .header .container {
        padding: 15px 16px;
    }

    .header-action {
        display: none;
    }

    #logo {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 1500;
    }

    .mobile-navigation {
        display: block;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .header-mobile {
        padding: 115px 0 106px 0;
        position: fixed;
        left: 0;
        top: -400%;

        width: 100%;
        height: max-content;

        background-image: url("../img/mobile-bg.svg");
        background-size: cover;
        background-position: center bottom;
        text-align: center;

        transition: all .5s ease;
        z-index: 1000;
    }

    .header-mobile li {
        font-size: 20px;
        color: #ffffff;
    }

    .header-mobile li:not(:last-child) {
        margin-bottom: 32px;
    }

    .showPanel {
        position: fixed;
        top: 0;
        transition: all .5s;
    }

    .bg-blur {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);

        z-index: 999;
    }



    /* MAIN */
    .main-info {
        max-width: 355px;
    }

    .main-info__title {
        max-width: 226px;
    }

    .main-info__description {
        max-width: 288px;
        font-size: 20px;
        line-height: 132.023%;
        margin: 0 auto 18px;
    }

    .main-info__text li {
        font-size: 14px;
    }

    .bg-mob {
        display: block;
        position: absolute;
        left: 0;
        bottom: 70px;
        z-index: -1;
    }

    .main-info__wrapper {
        justify-content: space-between;
        align-items: flex-start;
    }

    .main-info__text {
        margin-bottom: 0;
    }

    .main-info__text.desk {
        display: none;
    }

    .main-info__text.mob {
        display: block;
    }

    .main-image {
        margin-top: 70px;
    }

    /* EXPERT */
    .expert-image {
        max-width: 296px;
        margin: 0 auto 25px;
    }

    .expert-info {
        padding: 21px 4px 76px 4px;
        max-width: 368px;
        text-align: center;
    }

    .expert-info__name {
        font-size: 24px;
    }

    .expert-info__text {
        font-size: 16px;
    }

    /* RESULT */
    .slider-for {
        max-width: 279px;
        margin: 0 auto 48px;
    }

    .slider-image {
        max-width: 279px;
        height: 272px;
        width: 279px;
    }

    .slider-image img {
        max-width: 279px;
        height: 272px;
        width: 279px;
    }

    .slider-nav {
        max-width: 357px;
        font-family: 'Inter', sans-serif;
        margin: 0 auto;
    }

    .slide-name {
        font-size: 32px;
        text-align: center;
    }

    .slide-text {
        font-size: 20px;
        text-align: center;
    }

    .slide-age, .slide-info {
        font-size: 20px;
    }

    .slick-arrow:nth-child(1), .slick-arrow:nth-child(3) {
        display: none !important;
    }

    .slick-dots li {
        margin: 0;
        width: 12px;
    }

    .slick-dots li button:before {
        font-size: 10px;
        color: black;
    }

    .slick-dots li.slick-active button:before {
        color: #2A8B08;
        opacity: 1;
    }

    /* COMPOSITION */
    .composition {
        max-width: 100%;
        width: 1920px;

        background-image: url("../img/composition-bg-mob.png");
        background-size: cover;
        background-position: center right;

        margin: 0 auto;
    }

    .composition .container {
        padding: 0 0 27px 0;
    }

    .composition-image {
        max-width: 344px;
        margin: 0 auto;
    }

    .composition-image img {
        position: relative;
        left: -25px;
    }

    .composition-info {
        max-width: 327px;
        margin: 0 auto;
    }

    .composition-info__items {
        flex-direction: column;
        align-items: flex-start;
    }

    .composition-info__items:nth-child(1) .composition-info__item:nth-child(1) {
        max-width: 299px;
        margin-right: 0;
        margin-bottom: 23px;
    }

    .composition-info__items:nth-child(1) .composition-info__item:nth-child(2) {
        margin-top: 0;
        max-width: 350px;
        margin-bottom: 23px;
    }

    .composition-info__items:nth-child(2) .composition-info__item:nth-child(1) {
        max-width: 313px;
        margin-right: 0;
        margin-bottom: 23px;
    }

    .composition-info__items:nth-child(2) .composition-info__item:nth-child(2) {
        margin-top: 0;
        max-width: 299px;
        margin-bottom: 23px;
    }

    .item-text {
        background: transparent;
    }

    /* GET */
    .get {
        background-position: center right 40%;
        background-repeat: no-repeat;
    }

    .get-description {
        max-width: 355px;
        font-size: 16px;
        line-height: 152.523%;
    }

    .get-info__form {
        max-width: 356px;
    }

    .button.order-button {
        width: 339px;
        height: 54px;
        font-size: 28px;
    }

    /* TAKE */
    .take {
        width: 100%;
        background-image: url("../img/take-bg-mob.png");
        background-position: center right 10%;
    }

    .take-items {
        max-width: 348px;
    }

    .take-item {
        flex-direction: column;
        text-align: center;
    }

    .take-item__image {
        min-width: 80px;
        width: 80px;
        height: 80px;

        margin-right: 0;
        margin-bottom: 27px;
    }


    .take-item__text {
        font-size: 20px;
    }

    /* ADVANTAGE */
    .advantage-1 {
        width: 50px;
        position: absolute;
        top: auto;
        left: 0;
        bottom: -20px;
        z-index: 5;
    }

    .advantage-2 {
        width: 67px;
        position: absolute;
        right: 0;
        bottom: -20px;
        z-index: 5;
    }

    .advantage-info ul li {
        margin-left: 63px;

        font-size: 20px;
    }

    .advantage-image .mob {
        margin-bottom: 20px;
    }

    .advantage-info ul li:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -63px;
        transform: translateY(-50%);

        background-image: url("../img/advatnage-marker.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 41px;
        height: 41px;
    }

}

@media screen and (max-width: 425px) {
    .get {
        background-image: url("../img/get-bg-mob.png");
        background-size: cover;
        background-position: center center;
    }

    .get-description {
        margin-bottom: 464px;
    }
}



