* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

li {
    position: relative;
    list-style: none;
    z-index: 1;
}

html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    color: #000000;
    background: #f5f5f5;
}

.mob {
    display: none;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

/* HEADER */
.header .container {
    padding: 23px 139px 47px 136px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navigation ul {
    display: flex;
    margin-right: 86px;
}

.header-navigation ul li {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #000;
}

.header-navigation ul li:not(:last-child) {
    margin-right: 100px;
}

.mobile-navigation, .bg-blur {
    display: none;
}

/* MAIN */
.main {
    max-width: 100%;
    width: 1920px;

    background-image: url("../img/main-bg.png");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;

    margin: 0 auto;
}

.main .container {
    padding-bottom: 51px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.main-image {
    margin-top: 100px;
    position: relative;
    z-index: 1;
}

.bg-mob {
    display: none;
}

.sale {
    position: absolute;
    top: -141px;
    left: 61px;
    z-index: -1;
    animation: sale-jumping 3s linear infinite;
}

@keyframes sale-jumping {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

.main-info {
    max-width: 100%;
    width: 706px;
}

.main-info__title {
    margin-bottom: 27px;
}

.main-info__description {
    max-width: 643px;

    font-family: 'Inria Serif', sans-serif;
    font-size: 48px;
    line-height: 132.023%;
    color: #000;
    margin-bottom: 27px;
}

.main-info__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-info__text {
    margin-bottom: 27px;
}

.main-info__text li {
    margin-left: 36px;

    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 132.023%;
    color: #000;
}

.main-info__text li:not(:last-child) {
    margin-bottom: 8px;
}

.main-info__text li:before {
    content: '';
    position: absolute;
    top: calc(50% - 11px);
    left: -36px;
    width: 22px;
    height: 22px;

    background: #2A8B08;
    border-radius: 50%;
}

.main-info__price {
    max-width: max-content;
    font-weight: 700;
    font-family: 'Mukta', sans-serif;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
}

.new-price {
    color: #F00;
}

.old-price {
    text-decoration: line-through;
    color: #979797;
    border-bottom: 2px solid #979797;
}

.main-info__form {
    text-align: center;
}

/* EXPERT */
h2.title {
    position: relative;
    padding: 36px 0;

    font-weight: 400;
    font-family: 'Inria Serif', sans-serif;
    font-size: 39px;
    line-height: 132.023%;
    color: #FFF;
    text-align: center;

    background: #000000;
    z-index: 1;
}

.expert {
    max-width: 100%;
    width: 1920px;

    background-image: url("../img/expert-bg.png");
    background-size: cover;
    background-position: center bottom;

    margin: 0 auto;
}

.expert .container {
    padding: 152px 0 89px 138px;
    display: flex;
    align-items: center;
}

.expert-title {
    text-transform: uppercase;
}

.list-1 {
    position: absolute;
    bottom: -142px;
    left: calc(50% - 630px);
    z-index: -1;
}

.list-2 {
    position: absolute;
    bottom: -138px;
    right: calc(50% - 580px);
    z-index: -1;
}

.list-3 {
    max-width: 200px;
    position: absolute;
    bottom: -86px;
    left: calc(50% - 450px);
    z-index: -1;
}

.list-4 {
    position: absolute;
    bottom: -190px;
    right: calc(50% - 600px);
    z-index: -1;
}

.list-5 {
    position: absolute;
    bottom: -84px;
    left: calc(50% - 350px);
    z-index: -1;
}

.list-6 {
    position: absolute;
    top: -96px;
    right: calc(50% - 700px);
    z-index: -1;
}

.expert-image {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.expert-image img {
    box-shadow: 3px 4px 7px 0 rgba(0, 0, 0, 0.37);
    margin-bottom: 8px;
}

.expert-image span {
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 132.023%;
    color: #000;
}

.expert-info {
    padding: 21px 79px 64px 39px;
    max-width: 614px;

    border-radius: 11px;
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(5px);
}

.expert-info__name {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 132.023%;
    color: #000;
    margin-bottom: 21px;
}

.stars {
    margin-bottom: 21px;
}

.expert-info__text {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 132.023%;
    color: #000;
}

/* RESULT */
.result .container {
    position: relative;
    padding: 118px 63px 90px 170px;
    z-index: 1;
}

.result-1 {
    position: absolute;
    bottom: 40px;
    left: 0;
    z-index: -1;
}

.result-2 {
    position: absolute;
    right: 0;
    bottom: 50px;
    z-index: -1;
}

.slider-image {
    width: 436px;
    height: 441px;
    overflow: hidden;
}

.slider-image img {
    max-width: 436px;
    width: 436px;
}

.slider-nav {
    margin-top: -365px;
    max-width: 496px;
    font-family: 'Inter', sans-serif;
    margin-left: auto;
    margin-right: 0;
}

.slide {
    padding: 5px;
}

.slide-name {
    font-weight: 600;
    font-size: 32px;
    line-height: 132.023%;
    color: #000;
    margin-bottom: 15px;
}

.slide-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 132.023%;
    color: #000;
    padding-bottom: 39px;
    margin-bottom: 22px;
    border-bottom: 1px solid #000000;
}

.slide-age {
    margin-bottom: 13px;
}

.slide-age, .slide-info {
    font-weight: 700;
    font-size: 20px;
    line-height: 132.023%;
    color: #000;
}

.slick-arrow:nth-child(1) {
    position: absolute;
    top: 50%;
    left: -100px;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.slick-arrow:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 460px;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

/* COMPOSITION */
.composition {
    max-width: 100%;
    width: 1920px;

    background-image: url("../img/composition-bg.png");
    background-size: cover;
    background-position: center bottom;

    margin: 0 auto;
}

.composition .container {
    padding: 41px 0 143px 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.composition-image {
    margin-left: -100px;
}

.composition-info {
    max-width: 740px;
}

.composition-info__items {
    display: flex;
}

.composition-info__items:nth-child(1) .composition-info__item:nth-child(1) {
    max-width: 299px;
    margin-right: 84px;
}

.composition-info__items:nth-child(1) .composition-info__item:nth-child(2) {
    margin-top: 85px;
    max-width: 350px;
}

.composition-info__items:nth-child(2) .composition-info__item:nth-child(1) {
    max-width: 313px;
    margin-right: 71px;
}

.composition-info__items:nth-child(2) .composition-info__item:nth-child(2) {
    margin-top: 87px;
    max-width: 299px;
}

.item-info {
    display: flex;
    align-items: center;
}

.item-info-image {
    min-width: 136px;
}

.item-info-text {
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 132.023%;
    color: #000;

    margin-left: 23px;
}

.item-text {
    padding: 5px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 132.023%;
    color: #000;

    background: rgba(255, 255, 255, 0.60);
}

/* GET */
.get {
    max-width: 100%;
    width: 1920px;

    background-image: url("../img/get-bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    margin: 0 auto;
}

.get .container {
    position: relative;
    padding: 90px 0 19px 0;
    z-index: 1;
}

.get-image {
    position: absolute;
    left: calc(50% - 920px);
    bottom: -10px;
    z-index: -1;
}

.get-description {
    max-width: 703px;

    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 152.523%;
    color: #000;
    text-align: center;

    margin: 0 auto 50px;
}

.get-info {
    max-width: 850px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 100px;
}

.get-info__form {
    max-width: 444px;
    text-align: center;
    margin: 0 auto;
}

.order-form div {
    max-width: 308px;
    margin: 0 auto;
}

.order-form input {
    padding: 13px 19px;

    font-weight: 700;
    font-family: 'Inria Serif', sans-serif;
    font-size: 16px;
    line-height: 100%;
    color: #000;

    outline: none;
    border-radius: 8px;
    border: 3px solid #2A8B08;
    margin-bottom: 10px;
}

.order-form input::placeholder {
    font-weight: 700;
    font-family: 'Inria Serif', sans-serif;
    font-size: 16px;
    line-height: 100%;
    color: #000;
}

.button.order-button {
    width: 399px;
    height: 56px;
    font-size: 32px;
    border: none;
    margin: 0 auto;
}

.get-info__title {
    font-family: 'Inria Serif', sans-serif;
    font-weight: 700;
    font-size: 39px;
    line-height: 132.023%;
    color: #030303;
    margin-bottom: 42px;
}

/* TAKE */
.take {
    max-width: 100%;
    width: 1920px;

    background-image: url("../img/take-bg.png");
    background-size: cover;
    background-position: top center;

    margin: 0 auto;
}

.take .container {
    padding: 100px 0 55px 74px;
}

.take-items {
    max-width: 684px;
}

.take-item {
    display: flex;
    align-items: center;
}

.take-item:not(:last-child) {
    margin-bottom: 63px;
}

.take-item__image {
    min-width: 118px;
    height: 118px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 27px;
}

.take-item__text {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 152.523%;
    color: #000;
}

/* ADVANTAGE */
.advantage .container {
    position: relative;
    padding: 22px 0 44px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advantage-1 {
    position: absolute;
    top: 26px;
    left: 0;
    z-index: -1;
}

.advantage-2 {
    position: absolute;
    right: 0;
    bottom: 58px;
    z-index: -1;
}

.advantage-image {
    margin-left: -40px;
}

.advantage-info {
    max-width: 472px;
    margin-right: 150px;
}

.advantage-info ul li {
    margin-left: 86px;

    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 132.023%;
    color: #000;
}

.advantage-info ul li:not(:last-child) {
    margin-bottom: 35px;
}

.advantage-info ul li:before {
    content: url("../img/advatnage-marker.svg");
    position: absolute;
    top: 50%;
    left: -86px;
    transform: translateY(-50%);
}

/* RESULT */
.results .container {
    position: relative;
    padding: 135px 0 136px 0;
    z-index: 1;
}

.results-image {
    position: absolute;
    top: 0;
    left: -110px;
    z-index: -1;
}

.arrow {
    position: absolute;
    right: 188px;
    bottom: -50px;
    z-index: -2;
}

.results-dumbbells {
    position: absolute;
    right: 147px;
    bottom: 17px;
}

.results-items {
    display: flex;
    justify-content: space-between;
}

.result-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 306px;
}

.result-item:nth-child(3) {
    margin-top: 258px;
}

.result-item:nth-child(2) {
    margin-top: 467px;
}

.result-item:nth-child(1) {
    margin-top: 645px;
}

.result-item:last-child {
    max-width: 355px;
}

.result-item__day {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 218px;
    height: 218px;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 140.023%;
    color: #FFF;
    text-align: center;

    background: #2A8B08;
    border-radius: 50%;
    margin-bottom: 10px;
}

.result-item__text {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 152.523%;
    text-align: center;
    color: #000;
}

/* STATISTIC */
.statistic {
    max-width: 100%;
    width: 1920px;

    background-image: url("../img/statistic-bg.png");
    background-size: cover;
    background-position: top center;

    margin: 0 auto;
}

.statistic .container {
    position: relative;
    padding: 58px 0 55px 0;
    z-index: 1;
}

.statistic-image {
    position: absolute;
    top: -100px;
    left: -232px;
    z-index: -1;
}

.statistic-items {
    padding: 40px;
    max-width: 1116px;

    border-radius: 6px;
    background: rgba(255, 255, 255, 0.60);
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.39);
    backdrop-filter: blur(5px);
    margin: 0 auto;
}

.statistic-item:not(:last-child) {
    margin-bottom: 20px;
}

.statistic-item-text {
    position: relative;
    padding: 30px;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 152.523%;
    color: #FFF;

    z-index: 5;
}

.statistic-item-progress {
    display: flex;
    align-items: center;
}

.statistic-item-progress-bar {
    position: relative;
    max-width: 890px;
    width: 100%;
    height: 105px;
    overflow: hidden;
}

.statistic-item:nth-child(1) .statistic-item-progress-bar {
    max-width: 753px;
}

.statistic-item:nth-child(2) .statistic-item-progress-bar {
    max-width: 816px;
}

.statistic-item:nth-child(3) .statistic-item-progress-bar {
    max-width: 890px;
}

.statistic-item:nth-child(4) .statistic-item-progress-bar {
    max-width: 787px;
}

.statistic-item:nth-child(5) .statistic-item-progress-bar {
    max-width: 683px;
}

span.progress {
    padding: 26px 26px 26px 40px;
    display: inline-block;
    position: absolute;
    max-width: 95%;
    height: 89px;
    left: 5px;
    top: 5px;
    bottom: 0;
    width: 0;
    border-radius: 5px;
    background: #2A8B08;
    box-shadow: 4px 6px 6px 0 rgba(0, 0, 0, 0.39);
    transition: all .3s;
}

.statistic-item-progress-count {
    font-family: 'Inria Serif', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 132.023%;
    color: #2A8B08;
}

/* EASY */
.easy .container {
    padding: 53px 0 92px 0;
}

.easy-items {
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
}

.easy-item {
    text-align: center;
}

.easy-item__text {
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 120.023%;
    color: #000;
}

/* ORDER */
.order .container {
    padding: 44px 0;
}
.order .main-info {
    max-width: 750px;
    width: 750px;
}
.order .main-info__description {
    display: none;
}


.button {
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 279px;
    height: 50px;
    font-family: 'Inria Serif', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FFF;

    border-radius: 9px;
    background: #2A8B08;

    cursor: pointer;
    transition: .5s;
    position: relative;
    overflow: hidden;
}

.button .flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-45deg);
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
    animation: flareAnimation 3s infinite linear forwards;
}

.button:hover {
    transform: scale(1.1);
    transition: .5s;
}

.button.mob {
    display: none;
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}


/* FOOTER */
.pp {
    padding: 10px 0;
    font-family: 'Inria Serif', sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: #ffffff;
    text-align: center;

    background: #000000;
}

.pp a {
    font-weight: 600;
    transition: all .3s;
}

.pp a:hover {
    color: #37503b;
    transition: all .3s;
}

/* MODAL FORM */
.modal-form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(9px);
    text-align: center;
    z-index: 1100;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal-form .order-form {
    padding-top: 150px;
    display: block;
    max-width: 355px;
    margin: 0 auto;
}

.modal-form .order-info-price {
    margin-bottom: 30px;
}

.modal-form .button.order-button {
    width: 287px;
    font-size: 24px;
}

@keyframes price-anim {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



